<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Inventory Application</title>
</head>

<body>
    <div class="header">
        <h1>Inventory Application</h1>
    </div>
    <div class="main-container">
      <div class="left-navbar">
        <ul>
          <li><a href="/catalog">Home</a></li>
          <li><a href="/catalog/products">All products</a></li>
          <li><a href="/catalog/manufacturers">All manufacturers</a></li>
          <li><a href="/catalog/categories">All categories</a></li>
          <hr>
          <li><a href="/catalog/product/create">Create new product</a></li>
          <li><a href="/catalog/manufacturer/create">Create new manufacturer</a></li>
          <li><a href="/catalog/category/create">Create new category</a></li>
        </ul>
      </div>
      <div class="right-area">