<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Inventory Application</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
</head>

<body>
    <div class="header">
        <img src="/images/GLA-Logo.jpg"/>
        <div>
          <h1>GLA Stockpile</h1>
          <p>"AK-47`s for everyone!"</p>
        </div>
    </div>
    <div class="main-container">
      <div class="left-navbar">
        <ul>
          <li><a href="/catalog">Home</a></li>
          <li><a href="/catalog/products">All products</a></li>
          <li><a href="/catalog/manufacturers">All manufacturers</a></li>
          <li><a href="/catalog/categories">All categories</a></li>
          <hr>
          <li><a href="/catalog/product/create">Create new product</a></li>
          <li><a href="/catalog/manufacturer/create">Create new manufacturer</a></li>
          <li><a href="/catalog/category/create">Create new category</a></li>
        </ul>
      </div>
      <div class="right-area">