<%- include('partials/header.ejs'); -%>
<h1><%= title %></h1>

<form action="/catalog/category/create" method="POST">
    <label for="name">Category:</label>
    <input 
        id="name" 
        type="text" 
        placeholder="Small firearms, explosives etc." 
        name="name" 
        required 
        value="<%= typeof category === 'undefined' ? '' : category.name %>">
    </input>
    <button>Submit</button>
</form>

<% if(locals.errors){ %>
    <ul>
       <% errors.forEach(error => { %>
            <li><%= error.msg %></li>
       <% }) %>
    </ul>
<% } %>

</body>
</html>