body {
  /*background-image: url('../images/old-wall.jpg');
  color: azure;
  background-color: black;*/
}

.main-container{
  display: flex;
}

.left-navbar{
  padding: 1rem;
}

.right-area{
  padding: 1rem;
}

a{
  /*color: azure;*/
}
